@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    padding: 20px;
}

.container > img {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    margin-right: 20px; /* Espaço entre a imagem e o título */
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;


    padding-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
}

.content {
    flex: 1; /* Ocupa o espaço restante após a imagem */
    max-width: 400px; /* Largura máxima do conteúdo (título + parágrafo) */
}

h1{
    
    background-color: rgb(12, 136, 12);
    color: aliceblue;

 
}

.importante{
    color: rgb(206, 50, 50);
}

p{
   
    background-color: rgba(161, 235, 161, 0.705);
   
}